* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*상단 내비 바*/
nav {
    padding: 30px 130px 30px 130px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 150px;
    /*상단 내비바 탑에 고정*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

section {
    height: 100vh;
}

/*섹션1*/
.preface {
    background-color: black;
    color: white;
    padding: 0 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preface .description h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.preface .description p {
    font-size: 15px;
    line-height: 30px;
}

.preface img {
    width: 300px;
}

/*섹션2*/
.info-container {
    background-color: black;
    color: white;
    padding: 30px 130px;
}

.info-title h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.info-title p {
    font-size: 18px;
    line-height: 30px;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ai-container {
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
}

.ai-container img{
    width: 550px;
    height: 350px;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.ai-container:hover img{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.ai-container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ai-container:hover .text {
    opacity: 1;
    text-align: center;
}

.ai-container h3 {
    font-size: 30px;
}

.ai-container p {
    font-size: 20px;
    line-height: 30px;
}

/*푸터*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 130px;
    border-top: 1px solid white;
}

footer .logo {
    font-size: 30px;
}

footer ul{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer ul li {
    list-style: none;
    font-size: 18px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer .copyright {
    color: lightgrey;
    font-size: 15px;
    padding: 20px;
}