* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*상단 내비 바*/
nav {
    padding: 30px 130px 30px 130px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 150px;
    /*상단 내비바 탑에 고정*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

section {
    height: 100vh;
}

/*푸터*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 130px;
    border-top: 1px solid white;
}

footer .logo {
    font-size: 30px;
}

footer ul{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer ul li {
    list-style: none;
    font-size: 18px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer .copyright {
    color: lightgrey;
    font-size: 15px;
    padding: 20px;
}