* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*상단 내비 바*/
nav {
    padding: 30px 130px 30px 130px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 150px;
    /*상단 내비바 탑에 고정*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav p {
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 80px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

section {
    height: 100vh;
}

/*섹션 1 - 소개말*/
.introduce {
    background-color: black;
    color: white;
    padding: 0 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduce h1 {
    font-size: 50px;
    line-height: 70px;
}

.introduce p {
    font-size: 18px;
    line-height: 30px;
}

/*섹션2 - 인공지능 정보*/
.ai-info {
    background-color: white;
    color: black;
    height: 100%;
}

.ai-info .info-title {
    padding: 100px 130px 70px 130px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ai-info .info-title h1 {
    font-size: 40px;
}

.ai-info .info-title a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.ai-info .auto-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ai-info .img-box {
    /*원본과 클론의 총 합*/
    width: 4080px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    animation: bannermove 20s linear infinite;
}
.img-box > div {
    margin: 0px -1px 0px 0px;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.ai-info .img-box img{
    width: 500px;
    height: 350px;
}

/*섹션3 - 게시판 소개*/
.board {
    background-color: black;
    color: white;
    padding: 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.board img {
    width: 500px;
    height: 500px;
}

.board h1 {
    font-size: 40px;
    line-height: 70px;
}

.board p {
    line-height: 30px;
    margin-bottom: 15px;
}

.board a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*푸터*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 130px;
    border-top: 1px solid white;
}

footer .logo {
    font-size: 30px;
}

footer ul{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer ul li {
    list-style: none;
    font-size: 18px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

footer .copyright {
    color: lightgrey;
    font-size: 15px;
    padding: 20px;
}