<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/ai_info.css' %}"/>
    <title>AI 정보</title>
</head>
<body>
    <!--상단 내비 바-->
    <nav>
        <a href="{% url "ACH:index" %}"><p>< HOME</p></a>
    </nav>

    <section>
        <div class="preface">
            <div class="description">
                <h1>당신이 알고있는 생성형AI는 몇가지인가요?</h1>
                <p><strong style="font-size: 20px">생성형 AI란,</strong><br>생성형 인공지능 또는 생성형 AI는 프롬프트에 대응하여 텍스트, 이미지, 기타 미디어를 생성할 수 있는 인공지능 시스템입니다.<br>
                chatGPT와 같이 접근성과 범용성이 좋은 AI를 체험해 보신적이 있으신가요?<br>
                채팅형 AI 뿐만 아니라, 위 설명처럼 이미지, 음성, 소설, 코딩 등 다양한 분야에서 생성형 AI는 발전하고 있습니다.<br>
                보다 다양하고 넓은 생성형 AI에 빠져보아요!
                </p>
            </div>
            <img src="{% static "img/인공지능.png" %}">
        </div>
    </section>

    <!--푸터-->
    <footer>
        <p class="logo">ACH</p>
        <ul>
            <a href="https://github.com/de-quei/" target="_blank"><li>Github</li></a>
            <a href="https://instagram.com/de_quei/" target="_blank"><li>Instagram</li></a>
            <a href="https://velog.io/@de-quei/posts" target="_blank"><li>Velog</li></a>
        </ul>
        <p class="copyright">© 2024 김현지. All rights reserved</p>
    </footer>
</body>
</html>