<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>Board List</title>
</head>
<body>
    <div class="container">
        <h1>게시판</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <!--<th>Photo</th>-->
                    <th>Created Time</th>
                    <th>Modified Time</th>
                </tr>
            </thead>
            <tbody>
                {% for board in board_list %}
                    <tr>
                        <td>{{ board.title }}</td>
{#                        <!--<td><img src="{{ board.image.url }}" alt="uploaded image" style="width: 100px; height: 100px; object-fit: cover;"></td>-->#}
                        <td>{{ board.created_at }}</td>
                        <td>{{ board.updated_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="create-button" href="{% url 'ACH:board_create' %}">+ Create New</a>
    </div>
</body>
</html>
