<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>ACH</title>
</head>
<body>
    <!--상단 내비바-->
    <nav>
        <p>ACH</p>
        <ul>
            <li>소개말</li>
            <li>AI정보</li>
            <li>게시판</li>
        </ul>
    </nav>

    <!--첫 번째 섹션. 소개말-->
    <section>
        <div class="introduce-container">
            <div class="preface">
                <h1>ACH란?</h1>
                <p>ACH란, <strong>AI Creations Hub</strong>의 약자로써,<br>생성형 인공지능의 대한 정보와 사용 방법을 제공하고<br>더 좋은 결과물을 낼 수 있도록 공유할 수 있는 커뮤니티형 정보제공 서비스입니다.</p>
            </div>
            <img src="{% static 'img/ai_vector.png' %}">
        </div>
    </section>
</body>
</html>