<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>ACH</title>
</head>
<body>
    <!--상단 내비바-->
    <nav>
        <p>ACH</p>
        <ul>
            <li><a href="#introduce">소개말</a></li>
            <li><a href="#ai-info">AI정보</a></li>
            <li><a href="#board">게시판</a></li>
        </ul>
    </nav>

    <!--첫 번째 섹션. 소개말-->
    <section id="introduce">
        <div class="introduce">
            <div class="preface">
                <h1>ACH란?</h1>
                <p>ACH란, <strong>AI Creations Hub</strong>의 약자로써,<br>생성형 인공지능의 대한 정보와 사용 방법을 제공하고<br>더 좋은 결과물을 낼 수 있도록 공유할 수 있는 커뮤니티형 정보제공 서비스입니다.</p>
            </div>
            <img src="{% static 'img/ai_vector.png' %}">
        </div>
    </section>

    <!--두 번째 섹션, 인공지능 정보-->
    <section id="ai-info">
        <div class="ai-info">
            <div class="info-title">
                <h1>다양한 생성형AI를<br>ACH에서 만나보세요! 👋</h1>
                <a href="{% url 'ai_info' %}">👉 더 많은 생성형 AI 종류를 알고싶다면?</a> <!--ai정보.html url을 첨부할 것-->
            </div>
            <div class="auto-slider">
                <div class="img-box">
                    <div><img src="{% static 'img/미드저니.png' %}"></div>
                    <div><img src="{% static 'img/챗지피티.png' %}"></div>
                    <div><img src="{% static 'img/레오나르도.png' %}"></div>
                    <div><img src="{% static 'img/코파일럿.png' %}"></div>
                    <div><img src="{% static 'img/미드저니.png' %}"></div>
                    <div><img src="{% static 'img/챗지피티.png' %}"></div>
                    <div><img src="{% static 'img/레오나르도.png' %}"></div>
                    <div><img src="{% static 'img/코파일럿.png' %}"></div>
                </div>
            </div>
        </div>
    </section>

    <!--세 번째 섹션, 게시판 기능 소개-->
    <section id="board">
        <div class="board">
            <img src="{% static 'img/폰.png' %}">
            <div class="description">
                <h1>게시판에서 모두와 함께 공유해보세요!</h1>
                <p>생성형 인공지능은 사용자가 프롬프트를 어떻게 활용하냐에 따라<br>결과물의 매끄러움이 좌우됩니다.<br>서로의 작업물을 감상하여 영감을 얻고 생성형 AI를 더 효율적이게 사용해보거나,<br>나의 작업물도 자랑해보아요!</p>
                <a href="#">👉 게시판 바로가기</a> <!--게시판.html url을 첨부할 것-->
            </div>
        </div>
    </section>

    <!--푸터-->
    <footer>
        <p class="logo">ACH</p>
        <ul>
            <a href="https://github.com/de-quei/" target="_blank"><li>Github</li></a>
            <a href="https://instagram.com/de_quei/" target="_blank"><li>Instagram</li></a>
            <a href="https://velog.io/@de-quei/posts" target="_blank"><li>Velog</li></a>
        </ul>
        <p class="copyright">© 2024 김현지. All rights reserved</p>
    </footer>
</body>
</html>